Repository binbat/live777, pull requests merged in 2024-06, with the labels that each got.

#151 add whipinto rtp 'pkt_size'>1200 on h264
  tools/whipinto/src/main.rs
  tools/whipinto/src/payload.rs
Labels: enhancement, mod::whipinto

#156 feat: split debugger webui
  index.html
  vite.config.ts
  web/debugger.html
  web/old/debugger.js
Labels: mod::webui

#158 Show connection logs on web stream UI
  web/dialog-web-stream.tsx
Labels: mod::webui

#159 fix: make webui reforward url input larger
  web/dialog-reforward.tsx
Labels: bug, mod::webui

#154 add liveion --features=webhook
  Cargo.toml
  liveion/Cargo.toml
  liveion/src/hook/mod.rs
  liveion/src/lib.rs
  liveion/src/stream/manager.rs
Labels: enhancement, mod::live777

#163 fix liveman submax
  conf/liveman.toml
  liveman/src/route/proxy.rs
Labels: bug, mod::gateway

#166 remove liveion config pub_max and sub_max
  conf/live777.toml
  libs/live777-http/src/event.rs
  liveion/src/config.rs
  liveion/src/convert.rs
  liveion/src/error.rs
  liveion/src/stream/config.rs
  liveion/src/stream/manager.rs
Labels: mod::live777

#171 feat: limit webui video width and show video resolution
  bun.lockb
  web/dialog-preview.tsx
  web/dialog-web-stream.tsx
  web/utils.ts
Labels: enhancement, mod::webui

#170 add track log codec
  liveion/src/forward/track.rs
Labels: enhancement, mod::live777

#167 add liveion api stream
  conf/live777.toml
  liveion/src/config.rs
  liveion/src/forward/internal.rs
  liveion/src/forward/mod.rs
  liveion/src/lib.rs
  liveion/src/route/mod.rs
  liveion/src/route/stream.rs
  liveion/src/stream/config.rs
  liveion/src/stream/manager.rs
Labels: mod::live777

#175 feat: preview multiple streams
  web/app.tsx
  web/dialog-preview.tsx
Labels: enhancement, mod::webui

#172 change http static embed
  .github/workflows/rust.yml
  liveion/Cargo.toml
  liveion/src/lib.rs
  liveion/src/route/mod.rs
  liveion/src/route/static.rs
  liveman/src/main.rs
  liveman/src/route/mod.rs
  liveman/src/route/static.rs
Labels: enhancement, mod::live777, mod::liveman

#176 feat: show spent time after each log event
  web/app.tsx
  web/dialog-preview.tsx
  web/dialog-web-stream.tsx
  web/use-logger.ts
Labels: enhancement, mod::webui

#161 feat liveman api
  liveman/src/route/proxy.rs
Labels: enhancement

#179 Next ! break change api
  Cargo.lock
  Cargo.toml
  README.md
  conf/live777.toml
  conf/liveman.service
  libs/api/Cargo.toml
  libs/api/src/event.rs
  libs/api/src/lib.rs
  libs/api/src/path.rs
  libs/api/src/request.rs
  libs/api/src/response.rs
  libs/http-log/src/lib.rs
  liveion/Cargo.toml
  liveion/src/auth.rs
  liveion/src/config.rs
  liveion/src/convert.rs
  liveion/src/error.rs
  liveion/src/forward/internal.rs
  liveion/src/forward/mod.rs
  liveion/src/hook/convert.rs
  liveion/src/hook/webhook.rs
  liveion/src/lib.rs
  liveion/src/route/admin.rs
  liveion/src/route/mod.rs
  liveion/src/route/session.rs
  liveion/src/route/stream.rs
  liveion/src/route/whep.rs
  liveion/src/route/whip.rs
  liveion/src/stream/config.rs
  liveion/src/stream/manager.rs
  liveman/Cargo.toml
  liveman/src/auth.rs
  liveman/src/cluster.rs
  liveman/src/main.rs
  liveman/src/mem.rs
  liveman/src/route/proxy.rs
  liveman/src/route/utils.rs
  liveman/src/tick.rs
  tools/whepfrom/src/main.rs
  tools/whipinto/src/main.rs
  vite.config.ts
  web/api.ts
  web/app.tsx
  web/debugger.html
  web/debugger/debugger.js
  web/dialog-clients.tsx
  web/dialog-new-stream.tsx
  web/dialog-preview.tsx
  web/dialog-web-stream.tsx
  web/player.html
  web/player/player.tsx
Labels: enhancement, mod::live777, mod::webui, mod::liveman

#182 add whipinto/whepfrom rtcp support
  Cargo.lock
  libs/rtsp/Cargo.toml
  libs/rtsp/src/lib.rs
  tools/whepfrom/src/main.rs
  tools/whipinto/src/main.rs
Labels: mod::whipinto, mod::whepfrom

#183 feat(cascade) : pull and push mode
  libs/api/src/path.rs
  libs/api/src/request.rs
  libs/api/src/response.rs
  liveion/src/convert.rs
  liveion/src/forward/internal.rs
  liveion/src/forward/media.rs
  liveion/src/forward/message.rs
  liveion/src/forward/mod.rs
  liveion/src/forward/publish.rs
  liveion/src/forward/subscribe.rs
  liveion/src/hook/convert.rs
  liveion/src/route/admin.rs
  liveion/src/stream/manager.rs
  liveman/src/route/proxy.rs
  liveman/src/route/utils.rs
  liveman/src/tick.rs
  web/api.ts
  web/app.tsx
  web/dialog-cascade.tsx
  web/dialog-reforward.tsx
Labels: mod::live777

#184 Fix auth
  conf/liveman.toml
  libs/api/src/event.rs
  liveion/src/config.rs
  liveion/src/convert.rs
  liveion/src/lib.rs
  liveman/src/config.rs
  liveman/src/main.rs
  liveman/src/mem.rs
  liveman/src/route/proxy.rs
  liveman/src/tick.rs
Labels: enhancement, mod::live777, mod::liveman

#186 fix(libwish): http header link iceservers parse
  Cargo.lock
  libs/libwish/Cargo.toml
  libs/libwish/src/lib.rs
  tools/whepfrom/src/main.rs
  tools/whipinto/src/main.rs
Labels: bug, mod::whipinto, mod::whepfrom

#187 Feat liveman api stream
  libs/api/src/path.rs
  liveion/src/forward/mod.rs
  liveion/src/route/admin.rs
  liveman/src/mem.rs
  liveman/src/route/mod.rs
  liveman/src/route/node.rs
  liveman/src/route/proxy.rs
  liveman/src/route/stream.rs
  liveman/src/route/utils.rs
Labels: enhancement, mod::liveman
