Repository binbat/live777, pull requests merged in 2024-09, with the labels that each got.

#216 fix(web): handle audio tracks correctly
  web/shared/components/dialog-preview.tsx
  web/shared/components/dialog-web-stream.tsx
  web/shared/tools/debugger/compat.tsx
  web/shared/tools/debugger/debugger.js
Labels: bug, mod::webui

#218 fix(web): obtain media device label by requesting stream
  web/shared/tools/debugger/compat.tsx
Labels: bug

#208 break change(liveman): buildin liveion conf
  conf/liveman.toml
  liveman/src/cluster.rs
  liveman/src/config.rs
  liveman/src/main.rs
Labels: enhancement, mod::liveman

#215 feat(liveman): add admin auth
  Cargo.lock
  Cargo.toml
  conf/live777.toml
  conf/liveman.toml
  libs/auth/Cargo.toml
  libs/auth/src/access.rs
  libs/auth/src/claims.rs
  libs/auth/src/lib.rs
  libs/libwish/Cargo.toml
  libs/rtsp/Cargo.toml
  liveion/Cargo.toml
  liveion/src/auth.rs
  liveion/src/config.rs
  liveion/src/convert.rs
  liveion/src/lib.rs
  liveman/Cargo.toml
  liveman/src/admin.rs
  liveman/src/auth.rs
  liveman/src/config.rs
  liveman/src/main.rs
Labels: mod::liveman

#220 feat(session): data channel status
  libs/api/src/response.rs
  liveion/src/convert.rs
  liveion/src/forward/internal.rs
  liveion/src/forward/media.rs
  liveion/src/forward/message.rs
  liveion/src/forward/mod.rs
  liveion/src/forward/publish.rs
  liveion/src/forward/subscribe.rs
Labels: enhancement, mod::live777

#223 add net4mqtt
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  conf/live777.toml
  conf/liveman.toml
  libs/net4mqtt/Cargo.toml
  libs/net4mqtt/README.md
  libs/net4mqtt/bin/main.rs
  libs/net4mqtt/src/broker.rs
  libs/net4mqtt/src/kxdns.rs
  libs/net4mqtt/src/lib.rs
  libs/net4mqtt/src/proxy.rs
  libs/net4mqtt/src/socks.rs
  libs/net4mqtt/src/tests.rs
  libs/net4mqtt/src/topic.rs
  libs/net4mqtt/src/utils.rs
  liveion/Cargo.toml
  liveion/src/config.rs
  liveion/src/lib.rs
  liveman/Cargo.toml
  liveman/src/config.rs
  liveman/src/main.rs
  liveman/src/mem.rs
Labels: enhancement, mod::live777, mod::liveman
