Repository binbat/live777, pull requests merged in 2024-10, with the labels that each got.

#226 break change(liveman) liveman and liveion sync strategy
  conf/live777.toml
  conf/liveman.toml
  libs/api/src/lib.rs
  libs/api/src/path.rs
  libs/api/src/strategy.rs
  liveion/src/config.rs
  liveion/src/lib.rs
  liveion/src/route/mod.rs
  liveion/src/route/strategy.rs
  liveman/src/main.rs
  liveman/src/mem.rs
Labels: enhancement, mod::liveman

#224 add whipinto/whepfrom audio support
  Cargo.lock
  libs/cli/src/lib.rs
  libs/rtsp/Cargo.toml
  libs/rtsp/src/lib.rs
  tools/whepfrom/Cargo.toml
  tools/whepfrom/src/main.rs
  tools/whipinto/src/main.rs
  tools/whipinto/src/payload.rs
  tools/whipinto/src/rtspclient.rs
Labels: mod::whipinto, mod::whepfrom

#227 use cargo toml bin
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  cluster.test.ts
  liveion/Cargo.toml
  liveman/Cargo.toml
  liveman/src/config.rs
  liveman/src/lib.rs
  livetwo/Cargo.toml
  livetwo/src/lib.rs
  livetwo/src/payload.rs
  livetwo/src/rtspclient.rs
  livetwo/src/test.rs
  livetwo/src/whep.rs
  livetwo/src/whip.rs
  src/helper.rs
  src/liveman.rs
  src/main.rs
  src/whepfrom.rs
  src/whipinto.rs
  tests/tests.rs
  tools/whepfrom/Cargo.toml
Labels: enhancement, mod::whipinto, mod::whepfrom, mod::liveman

#231 feat(web): initial support for end to end latency measuring
  package-lock.json
  package.json
  web/shared/components/dialog-preview.tsx
  web/shared/components/dialog-web-stream.tsx
  web/shared/qrcode-stream.ts
Labels: enhancement, mod::webui

#234 add grcov in agithub actions
  .github/workflows/grcov.yml
  tests/tests.rs
Labels: mod::infra

#237 feat(livenil): add binary livenil
  Cargo.lock
  Cargo.toml
  conf/liveman.toml
  conf/livenil/live777.0.toml
  conf/livenil/live777.1.toml
  conf/livenil/live777.2.toml
  conf/livenil/liveman.toml
  docs/guide/developer.md
  docs/zh/guide/developer.md
  liveman/Cargo.toml
  liveman/src/cluster.rs
  liveman/src/lib.rs
  liveman/src/store.rs
  src/livenil.rs
Labels: mod::infra, mod::liveman

#241 Opt feature webui
  Cargo.toml
  docker/Dockerfile.live777
  docker/Dockerfile.live777-server
  docker/Dockerfile.liveman
  docker/Dockerfile.whepfrom
  docker/Dockerfile.whipinto
  liveion/Cargo.toml
  liveion/src/lib.rs
  liveman/Cargo.toml
  liveman/src/lib.rs
Labels: mod::live777

#242 break change(live777): rename config reforward => cascade
  cluster.test.ts
  conf/live777.toml
  conf/liveman.toml
  libs/api/src/strategy.rs
  liveion/src/stream/config.rs
  liveion/src/stream/manager.rs
  liveman/src/config.rs
  liveman/src/lib.rs
  liveman/src/route/cascade.rs
  liveman/src/tick.rs
  src/livenil.rs
Labels: mod::live777, mod::liveman

#246 Fix e2e
  .github/workflows/rust.yml
  cluster.test.ts
Labels: bug, mod::infra, mod::webui

#245 feat(liveman): change api node strategy
  liveman/src/route/node.rs
  liveman/src/store.rs
  web/liveman/api.ts
  web/liveman/components/nodes-table.tsx
Labels: enhancement, mod::webui, mod::liveman
