Repository binbat/live777, pull requests merged in 2024-04, with the labels that each got.

#110 Stream manager WebUI
  .github/CLA.md
  vite.config.ts
  web/api.ts
  web/app.css
  web/app.tsx
  web/dialog-clients.tsx
  web/dialog-new-stream.tsx
  web/dialog-preview.tsx
  web/dialog-reforward.tsx
  web/dialog-web-stream.tsx
  web/dialog.tsx
  web/utils.ts
Labels: mod::webui

#112 refactor: live777_storage lib and gateway use rust rewrite
  .gitignore
  Cargo.lock
  Cargo.toml
  README.md
  cluster.test.ts
  gateway/config.go
  gateway/go.mod
  gateway/go.sum
  gateway/logs.go
  gateway/main.go
  gateway/node.go
  gateway/node_test.go
  gateway/storage.go
  gateway/storage_redis.go
  libs/live777_http/src/path.rs
  libs/live777_http/src/request.rs
  libs/live777_http/src/response.rs
  libs/live777_storage/Cargo.toml
  libs/live777_storage/src/lib.rs
  libs/live777_storage/src/node_operate.rs
  libs/live777_storage/src/redis.rs
  live777_gateway/Cargo.toml
  live777_gateway/src/auth.rs
  live777_gateway/src/config.rs
  live777_gateway/src/convert.rs
  live777_gateway/src/error.rs
  live777_gateway/src/main.rs
  live777_gateway/src/result.rs
  live777_gateway/src/tick.rs
  src/config.rs
  src/convert.rs
  src/error.rs
  src/main.rs
  src/storage/mod.rs
  src/storage/redis.rs
  src/stream/config.rs
  src/stream/manager.rs
  vite.config.ts
Labels: mod::live777, mod::gateway

#114 rename config-dist to conf
  .gitignore
  README.md
  conf/gateway.toml
  conf/live777-gateway.service
  conf/live777.service
  conf/live777.toml
  gateway/src/config.rs
  src/config.rs
Labels: documentation, mod::live777, mod::gateway

#117 update depend webrtc-rs
  Cargo.lock
  Cargo.toml
  libs/cli/Cargo.toml
  libs/libwish/Cargo.toml
  tools/whepfrom/Cargo.toml
  tools/whipinto/Cargo.toml
Labels: mod::live777
