Repository binbat/live777, pull requests merged in 2024-05, with the labels that each got.

#119 feat: fullscreen player page
  vite.config.ts
  web/player.html
  web/player/main.tsx
  web/player/player.tsx
Labels: mod::webui

#121 Remove redis and mysql and add webhook #98
  Cargo.lock
  Cargo.toml
  README.md
  conf/gateway.toml
  conf/live777.toml
  gateway/Cargo.toml
  gateway/src/config.rs
  gateway/src/convert.rs
  gateway/src/db.rs
  gateway/src/main.rs
  gateway/src/model.rs
  gateway/src/tick.rs
  libs/live777-http/src/event.rs
  libs/live777-http/src/lib.rs
  libs/live777-http/src/request.rs
  libs/live777-http/src/response.rs
  libs/live777-storage/Cargo.toml
  libs/live777-storage/src/lib.rs
  libs/live777-storage/src/node_operate.rs
  libs/live777-storage/src/redis.rs
  sql/init.sql
  src/config.rs
  src/convert.rs
  src/forward/internal.rs
  src/forward/message.rs
  src/forward/mod.rs
  src/forward/publish.rs
  src/forward/subscribe.rs
  src/hook/convert.rs
  src/hook/mod.rs
  src/hook/webhook.rs
  src/main.rs
  src/route/admin.rs
  src/route/mod.rs
  src/route/resource.rs
  src/route/static.rs
  src/route/whep.rs
  src/route/whip.rs
  src/stream/config.rs
  src/stream/manager.rs
  tools/whepfrom/src/main.rs
  tools/whipinto/src/main.rs
Labels: enhancement, mod::live777, mod::gateway

#125 fix rtsp stream pushing issue
  libs/rtsp/src/lib.rs
Labels: bug, mod::whipinto, mod::whepfrom

#135 reforward check and request timeout and sync node info
  Cargo.lock
  Cargo.toml
  conf/live777.toml
  gateway/Cargo.toml
  gateway/src/config.rs
  gateway/src/db.rs
  gateway/src/main.rs
  gateway/src/model.rs
  gateway/src/tick.rs
  libs/live777-http/Cargo.toml
  libs/live777-http/src/path.rs
  libs/live777-http/src/request.rs
  sql/init.sql
  src/hook/webhook.rs
  src/route/admin.rs
Labels: enhancement, mod::gateway

#136 add whipinfo rtp `pkt_size` more than 1200
  Cargo.lock
  README.md
  tools/whipinto/Cargo.toml
  tools/whipinto/src/main.rs
  tools/whipinto/src/payload.rs
Labels: enhancement, mod::whipinto

#145 Fix test
  .github/workflows/release.yml
  .github/workflows/rust.yml
  gateway/src/tick.rs
  src/config.rs
Labels: mod::infra

#146 Add sdp message support
  Cargo.lock
  bun.lockb
  gateway/src/tick.rs
  libs/rtsp/Cargo.toml
  libs/rtsp/src/lib.rs
  package.json
  src/config.rs
  tools/whepfrom/src/main.rs
  tools/whipinto/src/main.rs
Labels: enhancement, mod::whipinto, mod::whepfrom
